<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<link rel="stylesheet" type="text/css" href="css\$REPORTNAME.css"/>
<link rel="shortcut icon" type="image/x-icon" href=$FAVICON>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
$JS_FILES
</head>

<body>
    <title>$TITLE</title>
    $NAVBAR
    <div id="main_div">
        <div id="sidebar">

$SIDEBAR

        </div>

        <div id="viewer">
            <button id="toggle"><<</button>
            $LOGO
            <div id="summary">
                $SUMMARY
            </div>
        </div>
    </div>

</body>
</html>