html{
    min-height: 100%;
    height: 100%
}

body{
    background: #aaaaaa;//$BODY_BKGRD;
    background: -moz-linear-gradient($BODY_GRADIENT);
    background: -webkit-linear-gradient($BODY_GRADIENT);
    background: -o-linear-gradient($BODY_GRADIENT);
    background: -ms-linear-gradient($BODY_GRADIENT);
    overflow:hidden;
    height:100%;
    max-height:100%;
}

#navbar
{
    height: $NAV_HEIGHT;
    border-radius: $NAV_BORDER_RADIUS_L $NAV_BORDER_RADIUS_R 0 0;
    -moz-border-radius: $NAV_BORDER_RADIUS_L $NAV_BORDER_RADIUS_R 0 0;
    -webkit-border-radius: $NAV_BORDER_RADIUS_L $NAV_BORDER_RADIUS_R 0 0;
    background: $NAV_BKGRD;
    border-bottom: $NAV_BORDER_BOTTOM;
}

#navbar ul
{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#navbar li
{
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
	list-style-type:none;
}

#navbar a
{
	padding: $NAV_PADDING;
	display: block;
	background: $NAV_BKGRD;
	font-family: '$NAV_FONT';
	font-size: $NAV_FONT_SIZE;
	font-weight: $NAV_FONT_WEIGHT;
	color: $NAV_FONT_COLOR;
	text-align: $NAV_FONT_ALIGN;
	text-decoration: none;
	line-height: $NAV_HEIGHT;
}

#navbar li:first-child a {
  border-radius: $NAV_BORDER_RADIUS_L 0 0 0;
  -moz-border-radius: $NAV_BORDER_RADIUS_L 0 0 0;
  -webkit-border-radius: $NAV_BORDER_RADIUS_L 0 0 0;
  background-color: $NAV_BKGRD_TITLE;

}

#navbar li:first-child:hover a {
  border-radius: $NAV_BORDER_RADIUS_L 0 0 0;
  -moz-border-radius: $NAV_BORDER_RADIUS_L 0 0 0;
  -webkit-border-radius: $NAV_BORDER_RADIUS_L 0 0 0;
  background-color: $NAV_BKGRD_TITLE;

}

#navbar li:hover a
{
	background-color: $NAV_BKGRD_HOVER;
}

#navbar li ul
{
	width: auto;
	float: left;
	visibility: hidden;
	position: absolute;
	left: 0;
	z-index: 1;
	background-color: $NAV_BKGRD_ITEMS;
	opacity: 0;
	-webkit-transition: all $NAV_ITEMS_DELAY ease;
	-moz-transition: all $NAV_ITEMS_DELAY ease;
	-ms-transition: all $NAV_ITEMS_DELAY ease;
	-o-transition: all $NAV_ITEMS_DELAY ease;
	transition: all $NAV_ITEMS_DELAY ease;
}

#navbar li:hover ul
{
	visibility: visible;
	top: $NAV_HEIGHT;
	opacity: 1;
}
#navbar li ul li
{
	width: 100%;
}
#navbar li ul li a
{
	width: 100%;
	text-align: left;
	font-size: $NAV_FONT_SIZE_ITEMS;
	line-height: $NAV_HEIGHT_ITEMS;
}
#navbar li ul a:hover
{
	background-color: $NAV_BKGRD_HOVER;
}

#main_div{
	position:relative;
	width: auto;
	height:96%;
	overflow:hidden;
}

#dir_div
{
	float:left;
	height:95%;
	width:27%;
	max-width:350px;
	background: linear-gradient(to bottom, rgba(201,201,201,1) 13%,rgba(241,241,241,1) 50%,rgba(255,255,255,1) 90%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	box-shadow: 0px 3px 10px #000000;
	overflow: auto;
}

#view_div{
	height:95%;
	background: top left no-repeat white;
	box-shadow: 3px 3px 10px #000000;
	overflow: auto;
	bottom:-50em;
}

#summ_div{}