html {
    min-height : 100%;
    height     : 100%
}
body {
    margin     : $BODY_MARGIN;
    background : $BODY_BKGRD;
    background : -moz-linear-gradient($BODY_GRADIENT);
    background : -webkit-linear-gradient($BODY_GRADIENT);
    background : -o-linear-gradient($BODY_GRADIENT);
    background : -ms-linear-gradient($BODY_GRADIENT);
    overflow   : hidden;
    height     : 100%;
    max-height : 100%;
}
::-webkit-scrollbar {
  width  : 12px;
  height : 12px;
}
::-webkit-scrollbar-button {
  width  : 0px;
  height : 0px;
}
::-webkit-scrollbar-thumb {
  background    : #67696d;
  border        : 0px none #ffffff;
  border-radius : 0px;
}
::-webkit-scrollbar-thumb:hover {
  background : #505153;
}
::-webkit-scrollbar-thumb:active {
  background : #505153;
}
::-webkit-scrollbar-track {
  background    : #26272a;
  border        : 0px none #ffffff;
  border-radius : 0px;
}
::-webkit-scrollbar-track:hover {
  background : #313235;
}
::-webkit-scrollbar-track:active {
  background : #333333;
}
::-webkit-scrollbar-corner {
  background : transparent;
}
#main_div {
    position : relative;
    width    : auto;
    height   : $MAIN_HEIGHT;
    overflow : hidden;
}
#navbar {
    height                : $NAV_HEIGHT;
    border-radius         : $NAV_BORDER_RADIUS_L $NAV_BORDER_RADIUS_R 0 0;
    -moz-border-radius    : $NAV_BORDER_RADIUS_L $NAV_BORDER_RADIUS_R 0 0;
    -webkit-border-radius : $NAV_BORDER_RADIUS_L $NAV_BORDER_RADIUS_R 0 0;
    background-color      : $NAV_COLOR;
    border-bottom         : $NAV_BORDER_BOTTOM_SIZE $NAV_BORDER_BOTTOM_COLOR;
    border-top            : $NAV_BORDER_TOP_SIZE $NAV_BORDER_TOP_COLOR;
    box-shadow            : $NAV_DROPDOWN_SHADOW rgba(46, 46, 46, 0.3);
}
#navbar ul {
    width      : 100%;
    margin     : 0;
    padding    : 0;
}
#navbar li {
    margin          : 0;
    padding         : 0;
    float           : left;
    position        : relative;
}
#navbar li:first-child a{
    /* This is for the title text */
    background-color: $NAV_TITLE_COLOR;
    font-family     : $NAV_TITLE_FONT;
    color           : $NAV_TITLE_FONT_COLOR;
    text-align      : $NAV_TITLE_FONT_ALIGN;
    text-decoration : none;
    font-size       : $NAV_TITLE_FONT_SIZE;
    font-weight     : $NAV_TITLE_FONT_WEIGHT;
    font-style      : $NAV_TITLE_STYLE;
}
#navbar li:first-child a:hover{
    /* This is for the title text */
    background-color: $NAV_TITLE_COLOR;
    font-family     : $NAV_TITLE_FONT;
    color           : $NAV_TITLE_FONT_COLOR;
    text-align      : $NAV_TITLE_FONT_ALIGN;
    text-decoration : none;
    font-size       : $NAV_TITLE_FONT_SIZE;
    font-weight     : $NAV_TITLE_FONT_WEIGHT;
    font-style      : $NAV_TITLE_STYLE;
}
#navbar a {
    /* This is for the non-title items */
    padding         : $NAV_PADDING;
    display         : block;
    background      : $NAV_COLOR;
    font-family     : $NAV_FONT;
    color           : $NAV_FONT_COLOR;
    text-align      : $NAV_FONT_ALIGN;
    text-decoration : none;
    line-height     : $NAV_HEIGHT;
    font-style      : $NAV_STYLE;
}
#navbar li a {
    border-radius         : $NAV_BORDER_RADIUS_L 0 0 0;
    -moz-border-radius    : $NAV_BORDER_RADIUS_L 0 0 0;
    -webkit-border-radius : $NAV_BORDER_RADIUS_L 0 0 0;
}
#navbar li ul {
    width              : auto;
    float              : left;
    visibility         : hidden;
    position           : absolute;
    left               : 0;
    z-index            : 1;
    opacity            : 0;
    -webkit-transition : all $NAV_ITEMS_DELAY ease;
    -moz-transition    : all $NAV_ITEMS_DELAY ease;
    -ms-transition     : all $NAV_ITEMS_DELAY ease;
    -o-transition      : all $NAV_ITEMS_DELAY ease;
    transition         : all $NAV_ITEMS_DELAY ease;
}
#navbar li:hover ul {
    visibility : visible;
    top        : $NAV_HEIGHT;
    opacity    : 1;
    box-shadow : $NAV_DROPDOWN_SHADOW rgba(46, 46, 46, 0.3);
}
#navbar li a:hover {
    background-color: $NAV_COLOR_HOVER;
}
#navbar li ul li
{
    width : 100%;
}
#navbar li ul li a {
    width       : $NAV_ITEMS_WIDTH;
    text-align  : left;
    line-height : $NAV_ITEMS_HEIGHT;
}
#navbar li ul a:hover
{
    background-color : $NAV_COLOR_HOVER;
}
#navbar .main{
    font-weight     : $NAV_FONT_WEIGHT;
    font-size       : $NAV_FONT_SIZE;
    border-left     : $NAV_BORDER_LEFT_SIZE $NAV_BORDER_LEFT_COLOR;
    border-right    : $NAV_BORDER_RIGHT_SIZE $NAV_BORDER_RIGHT_COLOR;
}
#navbar .sub a{
    font-weight     : $NAV_FONT_WEIGHT_ITEMS !important;
    font-size       : $NAV_FONT_SIZE_ITEMS !important;
    color           : $NAV_DROPDOWN_FONT_COLOR !important;
    background      : $NAV_DROPDOWN_COLOR !important;
    text-align      : $NAV_DROPDOWN_FONT_ALIGN !important;
    font-style      : $NAV_STYLE !important;
}
#navbar .sub a:hover {
    background      : $NAV_DROPDOWN_COLOR_HOVER !important;
    color           : $NAV_DROPDOWN_FONT_COLOR_HOVER !important;
}
#sidebar {
    float           : left;
    height          : $SB_HEIGHT;
    width           : $SB_WIDTH;
    font-size       : $SB_FONT_SIZE;
    background      : $SB_COLOR;
    background      : -moz-linear-gradient($SB_GRADIENT);
    background      : -webkit-linear-gradient($SB_GRADIENT);
    background      : -o-linear-gradient($SB_GRADIENT);
    background      : -ms-linear-gradient($SB_GRADIENT);
    box-shadow      : $SB_SHADOW rgba(46, 46, 46, 0.3);
    overflow-y      : auto;
    list-style-type : none;
}
#sidebar li{
    list-style : none;
    font-size : $SB_FONT_SIZE_DECREASE;
    border-top: 1px solid $SB_DIVIDER_LINE;
}
#sidebar li:last-child{
    border-bottom: 1px solid $SB_DIVIDER_LINE;
}
#sidebar li ul li:last-child{
    border-bottom: 0px solid $SB_COLOR;
}
#sidebar a:not(#image_link):not(#expandList):not(#collapseList){
    color           : $SB_FONT_COLOR;
    text-decoration : $SB_LINK_DECORATION;
}
#sidebar a:hover {
    color: $SB_FONT_COLOR_LINKS_HOVER;
}
#image_link{
    color: $SB_FONT_COLOR_LINKS;
    text-decoration : none;
}
#expandList{
    text-decoration : none;
    color: $SB_BUTTON_FONT_COLOR;
}
#collapseList{
    text-decoration : none;
    color: $SB_BUTTON_FONT_COLOR;
}
#summary{

}
#toggle {
    margin           : 0;
    padding          : 0;
    border           : $TOGGLE_BORDER;
    background       : transparent;
    cursor           : pointer;
    background-color : $TOGGLE_BKGRD;
    display          : inline-block;
    cursor           : pointer;
    color            : $TOGGLE_FONT_COLOR;
    font-family      : $TOGGLE_FONT;
    font-size        : $TOGGLE_FONT_SIZE;
    font-weight      : $TOGGLE_FONT_WEIGHT;
    padding          : $TOGGLE_PADDING;
    text-decoration  : none;
    position         : absolute;
    bottom           : $TOGGLE_POSITION_Y;
    margin-left      : -$VIEW_PADDING;
}
#toggle:hover {
    background-color : $TOGGLE_BKGRD_HOVER;
}
#toggle:active {
    position : absolute;
}
#toggle:focus {
    outline : $TOGGLE_BORDER;
}
#viewer {
    height       : $VIEW_HEIGHT;
    background   : $VIEW_BKGRD;
    box-shadow   : $VIEW_SHADOW;
    overflow     : auto;
}
#img0 {
    padding-left: $VIEW_IMG_PADDING;
}