<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<link rel="stylesheet" type="text/css" href="css\webify.css"/>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
$JS_FILES
</head>

<body>
    <title>$TITLE</title>
    <div id="navbar"
        <ul> <!-- MAIN MENU -->
			<li class="main"><a href="#">Report Title Is This 1111222</a></li>
			<li class="main"><a href="#">Home</a></li>
			<li class="main"><a href="#">Products <i class="icon-chevron-down"></i></a> <!-- SUB MENU -->
				<ul>
					<li class="sub"><a href="#">Templates</a></li>
					<li class="sub"><a href="#">Plugins</a></li>
				</ul>
			</li>
			<li class="main"><a href="#">Services <i class="icon-chevron-down"></i></a> <!-- SUB MENU -->
				<ul>
					<li class="sub"><a href="#">Web Design</a></li>
					<li class="sub"><a href="#">Web Development</a></li>
					<li class="sub"><a href="#">Web Customization</a>
					</li>
				</ul>
			</li>
			<li class="main"><a href="#">Blog</a></li>
			<li class="main"><a href="#">About Us</a></li>
			<li class="main"><a href="#">Contact</a></li>
		</ul>
    </div>
    <div id="main_div">
        <div id="dir_div">
            $FILETREE
        </div>

        <div id="view_div">
            <div id="summ_div">
                $SUMMARY
            </div>
        </div>
    </div>

</body>
</html>